body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature-icon{
  width: 200px;
  height: 200px;
}

.not-found-illustration {
  width: 100%;
}

.category-icon{
  width:24px;
  height:24px;
}

.category-icon_list{
 color: #1976d2;
 fill: #1976d2;
}

.category-icon.MuiChip-icon{
  fill: #616161;
}

.MuiChip-colorPrimary .category-icon{
  fill: #fff;
}

